{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
    
    <div class="about_main">
    <div class="services_main">
    	<div class="container">
    		<div class="creative_taital">
    			<h1 class="creative_text">Creative Content Writing Services</h1>
    			<p style="color: #050000; text-align: center;">ThoughtWin is a renowned name in the website/mobile designing,
                    development in Software industry but – WHY? It’s because we make web design
                    and development that represents your business and spreads worldwide.
                    The support, trust and over and over recommendations by the client
                    is enough to describe the quality of work we offer.
                    
                    arrow indication
                    We define goals, analysis the requirements and make the project schedule.
                    
                    arrow indication
                    Depending on your objectives and goals, a sensible approach is taken whereby
                    solutions are developed to fit the needs of your organization.
                    
                    arrow indication
                    The company believes in offering high aim web solutions at affordable prices.
                    
                    arrow indication
                    The Achievement of Perfection is our goal, but Excellence is Guarantee.
                    
                    arrow indication
                    We don't just sell websites, we create websites that SELL.
                    
                    arrow indication
                    We love what we do and we do what our clients love & work with great clients all over the world to meet their purposes.
                    
                    We have successfully delivered a variety of websites like E-commerce websites(B2B+B2C), business directories, CMS websites, data-driven websites, blog websites, community website, Mobile applications etc. We currently have an in-house team of full-time resources with senior programmers, intermediate programmer, graphic designer, front end developer, a project manager and a business analyst. We are a team of incredibly talented senior-junior level engineers. What this means is that we will have continuous access to a wealth of resource and information. We support companies across the globe.</p>
    			<div class="btn_main">
    			    <button type="button" class="btn btn-dark btn-lg">Get started</button>
    		    </div>
    		</div>    
    	</div>

    <!--Contact_section start -->
     <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>


{% include 'footer.html' %}
{% endblock content %}

