{% load static %}
<body>
	<div class="header_main">
		<div class="container">
			<div class="logo"><a href="{% url 'dashboard' %}"><img src="{% static 'images/1572425434317.jpeg' %}"></a></div>
		</div>
	</div>
	</div>
	<div class="header">
		<div class="container">
        <!--  header inner -->
            <div class="col-sm-12">
                 
                 <div class="menu-area">
                    <nav class="navbar navbar-expand-lg ">
<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                       <i class="fa fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                               <li class="nav-item active">
                                <a class="nav-link" href="{% url 'dashboard' %}">HOME<span class="sr-only">(current)</span></a> </li>
                               <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}">ABOUT</a></li>
                               <li class="#" href="#">
      	                        <a class="nav-link" href="{% url 'blog' %}">BLOG</a></li>
                               <li class="nav-item" href="#">
      	                        <a class="nav-link" href="{% url 'contact'%}">CONTACT</a></li>

                               <li class="last" href="#">
                                <a class="nav-link" href="{% url 'confirmation'%}">LOGOUT</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div> 
    </div>
